header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin-right: -12px;
  color: white;
  background-color: #db4681;
}

.header-title {
  opacity: 0.5;
}

.Heade-icons {
  margin-left: 2rem;
}

.back {
  color: white;
}

.back:hover {
  padding: 5px;
  background-color: rgb(119, 111, 104);
}
